@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainDiv {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Libre Franklin", sans-serif;
}
input {
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 3px grey, -1px -1px 1px rgb(234, 226, 226);
  outline: none;
  height: 70px;
  padding: 2px 8px;
}
.btn:hover {
  box-shadow: inset 3px 3px 3px grey, -2px -2px 2px rgb(234, 226, 226);
}
#Answer {
  box-shadow: inset 3px 3px 3px grey, -1px -1px 1px rgb(234, 226, 226);
}
.btn {
  box-sizing: border-box;
  width: 80px;
  height: 60px;
  margin: 5px;
  font-size: large;
  font-weight: bolder;
  box-shadow: 3px 3px 3px grey, -1px -1px 1px rgb(234, 226, 226);
}
